<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <style type="text/css" media="print">
      body {
          visibility: hidden;
      }
      .print {
          visibility: visible;
      }
  </style>


    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Presentie App</title>
    {% endif %}

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

    {% block head %}{% endblock %}
  </head>

  <body class="blue-grey darken-3">
    <div class="container">
      <div class="row navbar-fixed">
        <ul>
          <a href="/">Home</a>
          <a href="/student">Student</a>
          <a href="/vak">Vak</a>
        </ul>
      </div>
      {% block body %}{% endblock %}
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"
    ></script>

    <script>
      $(document).ready(function() {
        $("select").formSelect();
      });

      $(document).ready(function() {
        $(".modal").modal();
      });


      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });
          


    </script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
  </body>
</html>
