{% extends'base.html' %}

{% block head %}
<title>Presentie</title>
{% endblock %}

{% block body %}


<div class="row">
    <h2>Presentie</h2>
    <form class="form" action="/" method="POST">
        <!-- <input type="text" class="number" id="presentieid" required> -->
        <select class="select-dropdown" id="student" required></select>
        <select class="select-dropdown" id="vak" required></select>
        <input type="text" class="input" id="status" required>
        <input type="date" class="input datepicker" id="datum" required>
        <input type="submit" class="btn" value="Toevoegen">
    </form>
</div>


<table>
    <tr>
        <th>Student</th>
        <th>Vak</th>
        <th>status</th>
        <th>datum</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a href="">Delete</a>
            <br>
            <a href="">Update</a>
        </td>
    </tr>
</table>
{% endblock %}