{% extends'base.html' %} {% block head %}
<!-- <title>Student</title> -->
{% endblock head %} {% block body %}

<div class="row">
  <h3 class="white-text">Nieuw Student</h3>

  <form
    class="form col s12"
    action="{{ url_for('new_student') }}"
    method="POST"
  >
    <div class="input-field col s2">
      <input
        id="studentnummer"
        name="studentnummer"
        type="number"
        class="input validate"
        required
      />
      <label for="text">studentnummer</label>
    </div>

    <div class="input-field col s2">
      <input
        id="studentcode"
        name="studentcode"
        type="text"
        class="input validate"
        required
      />
      <label for="text">studentcode</label>
    </div>

    <div class="input-field col s2">
      <input
        id="voornaam"
        name="voornaam"
        type="text"
        class="input validate"
        required
      />
      <label for="text">voornaam</label>
    </div>

    <div class="input-field col s2">
      <input
        id="achternaam"
        name="achternaam"
        type="text"
        class="input validate"
        required
      />
      <label for="text">achternaam</label>
    </div>

    <div class="input-field col s2">
      <input
        id="cohort"
        name="cohort"
        type="number"
        class="input validate"
        required
      />
      <label for="text">cohort</label>
    </div>

    <div class="input-field col s2">
      <input
        id="studierichting"
        name="studierichting"
        type="text"
        class="input validate"
        required
      />
      <label for="text">studierichting</label>
    </div>

    <input type="submit" class="btn col s2" value="Toevoegen" />
  </form>
</div>

<div class="row">

  <a href="{{ url_for('export_student') }}">Exporteren</a>

  <table>
    <tr>
      <th>Studentnummer</th>
      <th>Studentcode</th>
      <th>Voornaam</th>
      <th>Achternaam</th>
      <th>Cohort</th>
      <th>Studierichting</th>
    </tr>
    {% for student in student %}
    <tr>
      <td>
        {{ student.studentnummer }}
      </td>
      <td>
        {{ student.studentcode }}
      </td>
      <td>
        {{ student.voornaam }}
      </td>
      <td>
        {{ student.achternaam }}
      </td>
      <td>
        {{ student.cohort }}
      </td>
      <td>
        {{ student.studierichting }}
      </td>
      <td>
        <a href="/verwijder_student/{{student.studentcode}}" onclick="return confirm('Bent u zeker dat u deze student wilt verwijderen?')">Verwijderen</a>
        <br />
        <a href="">Update</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock body %}
