{% extends'base.html' %}

{% block head %}
<title>Vak</title>
{% endblock %}

{% block body %}
<div class="row">
    <h2>Nieuwe Vak</h2>
    <form class="form" action="/" method="POST">
        <input type="text" class="input" id="vaknaam" required>
        <input type="submit" class="btn" value="Toevoegen">
    </form>
</div>

<table>
    <tr>
        <th>Vaknaam</th>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="">Delete</a>
            <br>
            <a href="">Update</a>
        </td>
    </tr>
</table>








{% endblock %}