{% extends'base.html' %} {% block head %}
<!-- <title>Vak</title> -->
{% endblock head %} {% block body %}
<div class="row">
  <h3 class="white-text">Nieuwe Vak</h3>
  <form class="form col s12" action="{{ url_for('new_vak') }}" method="POST">
    <div class="input-field col s3">
      <input id="vaknaam" name="vaknaam" type="text" class="input validate" required />
      <label for="text">vaknaam</label>
    </div>

    <div class="input-field col s3">
      <input id="vakcode" name="vakcode" type="text" class="input validate" required />
      <label for="text">vakcode</label>
    </div>
    <input type="submit" class="btn col s4 offset-s2" value="Toevoegen" />
  </form>
</div>

<div class="row">
  <table class="responsive-table">
    <tr>
      <th>Vaknaam</th>
      <th>Vakcode</th>
    </tr>
    {% for vak in vak %}
    <tr>
      <td>
        {{ vak.vaknaam }}
      </td>
      <td>
        {{ vak.vakcode }}
      </td>
      <td>
        <a href="/verwijder_vak/{{vak.vakcode}}"
          onclick="return confirm('Bent u zeker dat u dit vak wilt verwijderen?')">Verwijderen</a>

        <br />
        <a href="/update_vak/{{vak.id}}">Update</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock body %}